.faq {
  padding-bottom: 200px;

  &__title {
    padding-bottom: 50px;
  }

  &__item {
    padding: 21px 0;
    border-bottom: 1px solid var(--primaryColor);

    &:nth-child(odd) {
      border-bottom: 1px solid var(--secondaryColor);
    }

    &:first-child {
      padding: 31px 0;
      border-top: 1px solid var(--primaryColor);
    }
  }
}