.timer {
  align-items: flex-start;
  gap: 10px;

  font-family: var(--headersFont);
  color: var(--secondaryColor);
  letter-spacing: 0.04em;

  &__item {
    flex-direction: column;
    gap: 12px;
  }

  &__dots {
    padding-top: 14px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;

    animation-name: dotsTick;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  &__value {
    padding: 11px 15.5px;
    border-radius: 16px;
    background-color: var(--white);
    box-shadow: 0px 5px 30px var(--primaryShadowColor);

    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    color: var(--secondaryAccentColor);
  }

  &__caption {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;

    & span {
      display: block;
      color: var(--tetriaryColor);
    }
  }
}

@keyframes dotsTick {

  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}