.paragraph {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--primaryColor);

  &--caption {
    font-size: 15px;
    line-height: 1.66;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--tetriaryColor);
  }

  &--primary {
    font-size: 18px;
  }

  &--secondary {
    font-size: 22px;
    color: var(--secondaryColor);
  }

  &--tetriary {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
  }
}