.logo {

    display: flex;
    align-items: flex-end;

    &__image {
        width: 50px;
        height: 50px;
        padding-right: 5px;
    }

    &__title {

        padding-bottom: 1px;

        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        color: var(--secondaryColor);

        & span {
            font-weight: 400;
            color: var(--secondaryAccentColor);
        }
    }
}