.footer {
  padding-top: 70px;
  padding-bottom: 64px;

  font-family: var(--headersFont);
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.03em;

  &__container {
    position: relative;
  }

  &__menu {
    padding-bottom: 27px;
    justify-content: flex-start;
    gap: 200px;
  }

  &__copyright {
    text-align: center;
  }
}


.social-item {

  &__title {
    padding-bottom: 9px;
  }

  &__links {
    gap: 21px;
  }
}