.discount {
  position: relative;
  border: 3px solid var(--primaryAccentColor);
  box-shadow: 0px 5px 15px var(--primaryButtonShadow);
  border-radius: 40px;

  font-family: var(--headersFont);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: var(--white);

  &__head {
    position: absolute;
    top: -16px;
    left: 104px;

    & p {
      position: absolute;
      top: 21px;
      left: 55px;
    }
  }

  &__body {
    padding: 136px 60px 40px 60px;

    & p {
      letter-spacing: 0.05em;
    }
  }

  &__price {
    margin: 30px 0;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 17px;

    font-size: 96px;
    line-height: 114px;
    color: var(--black);

    & span {
      padding-top: 16px;
      position: relative;

      font-weight: 600;
      font-size: 30px;
      line-height: 36px;

      &::before {
        content: '';
        height: 2px;
        position: absolute;
        left: -5px;
        right: -4px;
        top: 34px;
        background-color: var(--black);
      }
    }
  }

  &__foot {
    height: 78px;
    padding: 0 60px;
    margin: 0 -1px;
    border-radius: 0px 0px 35px 35px;
    background-color: var(--primaryAccentColor);
  }

  &__social {
    gap: 16px;
  }
}