#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    font-family: var(--baseFont);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.009em;

    color: var(--primaryColor);
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    font-size: 55px;
    line-height: 67px;
}

h2 {
   
    font-size: 32px;
    line-height: 44px;
}

h1,
h2 {
    font-family: var(--headersFont);
    font-weight: 700;
}