.checkbox {
  max-width: 485px;
  position: relative;

  &__input {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
  }

  &__label {
    display: flex;
    gap: 10px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    user-select: none;

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      flex: 0 0 auto;
      border: 2px solid var(--white);
      border-radius: 5px;
      background-color: var(--primaryAccentColor);
    }
  }

  &__input:checked+label {
    &::before {
      background-image: url('../../assets/checkbox.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }

  &__text {
    padding-top: 2px;

    &--primary {
      color: var(--primaryCheckColor);
    }

    &--secondary {
      color: var(--secondaryCheckColor);
    }
  }
}