.newsletter {
  min-height: 373px;
  background-image: url('../../assets/newsletter-bg.svg');
  background-repeat: no-repeat;
  background-position: center;

  &__inner {
    max-width: 930px;
    padding: 30px 0 67px 0;
    margin: auto;
  }

  &__title,
  &__text {
    padding-bottom: 20px;
    color: var(--white);
  }

  &__text {
    max-width: 410px;
    margin: auto;
    text-align: center;
  }

  &__form {
    padding-top: 20px;
    margin-left: 54px;
  }

  &__form-row {
    padding-bottom: 20px;
    justify-content: flex-start;
    gap: 30px;
  }

  &__button {
    max-width: 360px;
    width: 100%;
  }
}