.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  &__menu {
    padding: 30px 0;
  }

  &__button {
    animation-name: loadButton;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
  }
}


@keyframes loadButton {
  0% {
    border: 1px solid var(--secondaryAccentColor);
    background-color: var(--secondaryAccentColor);
  }

  100% {
    color: var(--secondaryColor);
    border: 1px solid var(--secondaryColor);
    background-color: var(--white);
  }
}